[submodule "hw/repo/vivado-library"]
	path = hw/repo/vivado-library
	url = https://github.com/Digilent/vivado-library.git
[submodule "hw/digilent-vivado-scripts"]
	path = hw/digilent-vivado-scripts
	url = https://github.com/artvvb/digilent-vivado-scripts.git
